body {
    height: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
}

html {
	height: 100%;
}

hr {
	border-color: black;
}

a {
	color: #e5f4e3;
}

.parallaxBanner {
	background-image: url(../images/enchantedlake.jpg);
	height: 82%;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
	.parallaxBanner {
	  background-attachment: scroll;
	}
  }

@media (max-width: 767px) {
	.navbar {
		padding: 0 20px;
	}
}

#fullPageDiv {
	background-color: #f4f2f3;
}

/* Landing Page */
.welcomeBanner {
	/* styling */
	color: #e5f4e3;
	font-size: 3em;
	font-style: bold;
}

/* About Me Page */
.sectionHeading {
	color: #18314F;
	padding: 1em;
	font-size: 3em;
	font-style: bold;
	text-align: center;
}

.headingContent {
	border-bottom-style: solid;
	border-color: #18314F;
	padding-bottom: 1.5em;
}

.aboutMeContent {
	color: #18314F;
	font-size: 1.6em;
	line-height: 1.5em;
}

.aboutPersonal {
	padding-left: 2em;
	padding-right: 2em;
}

.aboutProfessional {
	padding-right: 2em;
}
/*
.personalImageGrid {
	grid-column: 1 / 6;
	grid-row: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	z-index: -1;
}

.mePic1 {
	grid-column: 1;
	grid-row: 1;
	opacity: .35;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mePic2 {
	grid-column: 2;
	grid-row: 1;
	opacity: .35;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mePic3 {
	grid-column: 3;
	grid-row: 1;
	opacity: .35;
	width: 100%;
	height: 100%;
	object-fit: cover;
}*/

/* Projects Page */

.personalProjects {
	padding: 2em;
}

.projectName {
	color: #18314F;
	text-align: center;
	font-size: 1.7em;
	padding-bottom: 2em;
}

.card-title {
	padding: .5em;
	font-size: 2.2em;
	font-style: bold;
}

.card-body {
	padding-left: .5em;
	padding-right: .5em;
	font-size: 1.4em;
	line-height: 2em;
}

.projectSplashTitle {
	color: #f4f2f3;
}

.projectPhotoOverlay {
	opacity: .3;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* Skills and Experience Page */

.experienceHeading {
	/* styling */
	color: #18314F;
	font-size: 2em;
	font-style: bold;
	/* position */
	padding: 2em;
}

.employment {
	padding: 1.5em;
}

.textOutline {
	color: #E5F4E3;
	text-shadow:
	-1px -1px 0 #000,  
	 1px -1px 0 #000,
	 -1px 1px 0 #000,
	  1px 1px 0 #000;
}

.jobDescription {
	color: #18314f;
	font-size: 1.6em;
	line-height: 1.5em;
}

.resumeContent {
	font-size: 1.5em;
	color: #e5f4e3;
}

.resumeHeading {
	color: #18314F;
	font-size: 1.8em;
	font-style: bold;
}

.technical {
	margin: 1em;
	padding: 1.5em;
}

.skills {
	color: #18314f;
	font-size: 1.6em;
	line-height: 1.5em;
}

.strengths {
	padding: 2em;
}

.weaknesses {
	padding: 2em;
}

.footer {
	color: #e5f4e3;
	padding-top: 2em;
	z-index: 1000;
}

.footerHeading {
	color: #e5f4e3;
	font-size: 2em;
	font-style: bold;
}

.footerContent {
	text-align: center;
	display: block;
	margin: auto;
	font-size: 1.1em;
	color: #e5f4e3;
}

/* Project Page */

.projectPageGrid {
	width: 100%;
	background-image: linear-gradient(#a1cccc , #84bcda);
	overflow: hidden;
	display: grid;
	grid-template-areas: "projectTitle projectTitle projectTitle"
						"projectOverview projectOverview projectOverview"
						"projectRole topLeftPhoto topRightPhoto"
						"projectRole bottomLeftPhoto bottomRightPhoto"
						"skillsGained skillsGained skillsGained";
	grid-gap: 1em;
}

.pageHeading {
	color: #e5f4e3;
	font-size: 2em;
	font-style: bold;
}

.subheading {
	color: #18314F;
	font-size: 1.6em;
	line-height: 1.5em;
	justify-items: center;
	align-items: center;
}

.projectTitle {
	grid-area: projectTitle;
	padding-left: 1em;
}

.projectOverview {
	grid-area: projectOverview;
	padding-left: .5em;
}

.projectRole {
	grid-area: projectRole;
	padding: .5em;
}

.skillsGained {
	grid-area: skillsGained;
	padding: .5em;
}

.topLeftPhoto {
	grid-area: topLeftPhoto;
}

.topRightPhoto {
	grid-area: topRightPhoto;
	padding-right: .5em;
}

.bottomLeftPhoto {
	grid-area: bottomLeftPhoto;
}

.bottomRightPhoto {
	grid-area: bottomRightPhoto;
	padding-right: .5em;
}

.containedImage {
	overflow: hidden;
	object-fit: contain;
}

.containedImage img {
	width: 100%;
}

/* General classes */

.bordered {
	border-style: solid;
	padding: auto;  
	margin: auto;
	width: 250px;
}

.headingContent {
	color: #18314F;
	line-height: 1.8em;
	font-size: 1.5em;
	text-align: center;
}

.subHeading {
	color: #18314F;
	font-size: 1.8em;
}

.bodyContent {
	color: #E5F4E3;
	font-size: 1.6em;
	line-height: 1.5em;
}