body {
    height: 100%;
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
	border-color: black;
}

a {
	color: #e5f4e3;
}

/* Landing Page */
.welcomeBanner {
	/* styling */
	color: #e5f4e3;
	font-size: 3em;
	font-style: bold;
	background-image: url(../images/enchantedlake.jpg);
	background-position: center;
	/* position */
}

/* About Me Page */
.aboutMeHeading {
	/* styling */
	background: #A1CCCC;
	color: #e5f4e3;
	font-size: 2em;
	font-style: bold;
	/* position */
}

.aboutMeContent {
	color: #18314F;
	font-size: 1.6em;
	line-height: 1.5em;
}

#aboutMeContentSection {
	background-image: linear-gradient(#a1cccc , #F4F2F3);
}

.aboutPersonal {
	padding: 2em;
}

.aboutProfessional {
	padding: 2em;
}
/*
.personalImageGrid {
	grid-column: 1 / 6;
	grid-row: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	z-index: -1;
}

.mePic1 {
	grid-column: 1;
	grid-row: 1;
	opacity: .35;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mePic2 {
	grid-column: 2;
	grid-row: 1;
	opacity: .35;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mePic3 {
	grid-column: 3;
	grid-row: 1;
	opacity: .35;
	width: 100%;
	height: 100%;
	object-fit: cover;
}*/

/* Projects Page */
.projectsHeading {
	/* styling */
	background: #F4F2F3;
	font-size: 2em;
	font-style: bold;
	/* position */
	padding: 2em;
}

.personalProjects {
	background-image: linear-gradient(#F4F2F3 , #a1cccc);
	padding: 2em;
}

.projectName {
	color: #18314F;
	text-align: center;
	font-size: 1.7em;
}

/* Skills and Experience Page */

.experienceHeading {
	/* styling */
	background: #A1CCCC;
	color: #e5f4e3;
	font-size: 2em;
	font-style: bold;
	/* position */
	padding: 2em;
}

.employment {
	background-image: linear-gradient(#a1cccc , #84bcda);
	padding: 1.5em;
}

.textOutline {
	text-shadow:
	-1px -1px 0 #000,  
	 1px -1px 0 #000,
	 -1px 1px 0 #000,
	  1px 1px 0 #000;
}

.jobDescription {
	color: #18314f;
	font-size: 1.6em;
	line-height: 1.5em;
}

.resumeContent {
	font-size: 1.5em;
	color: #e5f4e3;
}

.technical {
	background: #84bcda;
	margin: 1em;
	padding: 1.5em;
}

#projectsArray {
	background: #f4f2f3;
}

.skills {
	color: #18314f;
	font-size: 1.6em;
	line-height: 1.5em;
}

.strengths {
	padding: 2em;
	background-image: linear-gradient(#84bcda , #18314F);
}

.weaknesses {
	padding: 2em;
	background-image: linear-gradient(#84bcda , #18314f);
}

.footer {
	color: #e5f4e3;
	background: #18314F;
	padding: 2em;
	grid-area: contact;
}

.footerHeading {
	color: #e5f4e3;
	font-size: 2em;
	font-style: bold;
}

.footerContent {
	text-align: center;
	display: block;
	margin: auto;
	font-size: 1.1em;
	color: #e5f4e3;
}

/* Project Page */

.projectPageGrid {
	width: 100%;
	background-image: linear-gradient(#a1cccc , #84bcda);
	overflow: hidden;
	display: grid;
	grid-template-areas: "projectTitle projectTitle projectTitle"
						"projectOverview projectOverview projectOverview"
						"projectRole topLeftPhoto topRightPhoto"
						"projectRole bottomLeftPhoto bottomRightPhoto"
						"skillsGained skillsGained skillsGained";
	grid-gap: 1em;
}

.pageHeading {
	color: #e5f4e3;
	font-size: 2em;
	font-style: bold;
}

.subheading {
	color: #18314F;
	font-size: 1.6em;
	line-height: 1.5em;
	justify-items: center;
	align-items: center;
}

.projectTitle {
	grid-area: projectTitle;
	padding-left: 1em;
}

.projectOverview {
	grid-area: projectOverview;
	padding-left: .5em;
}

.projectRole {
	grid-area: projectRole;
	padding: .5em;
}

.skillsGained {
	grid-area: skillsGained;
	padding: .5em;
}

.topLeftPhoto {
	grid-area: topLeftPhoto;
}

.topRightPhoto {
	grid-area: topRightPhoto;
	padding-right: .5em;
}

.bottomLeftPhoto {
	grid-area: bottomLeftPhoto;
}

.bottomRightPhoto {
	grid-area: bottomRightPhoto;
	padding-right: .5em;
}

.containedImage {
	overflow: hidden;
	object-fit: contain;
}

.containedImage img {
	width: 100%;
}

/* General classes */

.bordered {
	border-style: solid;
	padding: auto;  
	margin: auto;
	width: 250px;
}

.sectionHeading {
	color: #E5F4E3;
	font-size: 1.8em;
}

.headingContent {
	color: #18314F;
	line-height: 1.8em;
}

.topicHeading {
	color: #18314F;
	font-size: 1.8em;
}

.bodyContent {
	color: #E5F4E3;
	font-size: 1.6em;
	line-height: 1.5em;
}